{% extends "base.html" %}
{% block page_id %}post{% endblock %}

{% block content %}

<div class="post-main">

  {% if post %}

    <h1>{{ post.title }}</h1>

    <div class="date">{{ post.created_date }}</div>

    {{ post.content|restructuredtext }}

    <div class="tags">
      Tags:
      {% for tag in post.tags.all() %}
      <a href="/blog/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% else %}
      none
      {% endfor %}
    </div>

  {% else %}
    <em>No post found, sorry!</em>
  {% endif %}

</div>

{% endblock %}
