{% extends "base.html" %}

{% block page-id %}tech{% endblock %}

{% block content %}

<h1>Tech</h1>

<p>
  Here is where I usually post a bunch of stuff. There will be lots here
  and sections you can dig into.
</p>

<p>
  Please choose from the following:
</p>

<ul>
  <li>Emacs</li>
  <li>Radmind</li>
  <li>Python</li>
</ul>

<h1>Popular Posts</h1>

<div class="post">
  <h2>Emacs #3: using marks</h2>
  
  <p>
    The thing about writing this library was I've needed it for a
    while. And I finally got around to implementing something like
    it. If you actually see that I went there then it shouldn't
    matter...
  </p>
</div>

<h1>Latest Posts</h1>

<div class="post">
  <h2>Emacs #3: using marks</h2>
  
  <p>
    The thing about writing this library was I've needed it for a
    while. And I finally got around to implementing something like
    it. If you actually see that I went there then it shouldn't
    matter...
  </p>
</div>

<div class="post">
  <h2>Python #8: Never use that</h2>
  
  <p>
    The thing about writing this library was I've needed it for a
    while. And I finally got something like it.
  </p>
</div>

<div class="post">
  <h2>Radmind #2: backing up</h2>
  
  <p>
    The thing about writing this library was I've needed it for a
    while. And I finally got around to implementing something like
    it. And again they even fought for it but lost, sadly they had
    no idea.
  </p>
</div>
  
{% endblock %}
